@import "reset.css";
@import "variable.css";

/*common*/
@import "common/status-bar.css";
@import "common/screen-header.css";
@import "common/nav-bar.css";
@import "common/user-component.css";
@import "common/icon-row.css";
@import "common/no-mobile.css";
@import "common/alt.header.css";

/*screen*/
@import "screen/login.css";
@import "screen/friends.css";
@import "screen/chat.css";
@import "screen/find.css";
@import "screen/chating.css";
@import "screen/setting.css";

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 100%;
  background: var(--rainbow-bottom);
}
#screen {
  height: 100vh;
}
