#chat-screen {
  height: 120vh;
}
#chat-screen .alt-header {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  top: 0;
  margin-top: 27px;
  z-index: 1;
}
.main-chat {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.status-bar__chat {
  z-index: 1; /*Layer 위치 고정*/
}
.chat__timestamp {
  padding: 8px 15px; /*상하 좌우*/
  border-radius: 16px;
  font-size: 12px;
  margin-bottom: 30px;
}
@keyframes chatingmotion {
  0% {
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}
.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 20px;
  animation: chatingmotion 1s ease forwards;
}

.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 18px;
  margin-right: 15px;
}
.message__author {
  margin-bottom: 10px;
  display: block;
}
.message__bubble {
  padding: 13px;
  border-radius: 14px;
  border-top-left-radius: 0px;
  margin-right: 5px;
  font-size: 18px;
  background: var(--rainbow-bottom);
}
.message__info {
  display: flex;
  align-items: flex-end;
}
.message__time,
.message__author {
  font-size: 14px;
}
.message-row--own {
  justify-content: flex-end;
}
.message-row--own .message__bubble {
  border-top-right-radius: 0px;
  border-top-left-radius: 14px;
  margin-right: 0px;
  margin-left: 5px;
}
.message-row--own .message__info {
  flex-direction: row-reverse;
}
.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
  align-items: center;
  box-sizing: border-box;
  transition: all 0.5s ease;
}
.reply i {
  opacity: 0.5;
}
.reply .reply__column:first-child {
  width: 10%;
}
.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}
.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: -19px;
  top: 1px;
}
.reply__column:last-child > i {
  right: 6%;
  top: 4px;
}
.reply input {
  padding: 10px;
  width: 90%;
  border-radius: 20px;
  transition: all 0.5s ease;
}
.reply input:focus {
  outline: none;
  border: none;
}
.reply__column button i {
  opacity: 1;
}
.reply__column button {
  left: 96%;
  border: none;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  transition: all 0.5s ease;
}
.reply__column input:focus {
  outline: none;
}
.reply .form__column,
.reply .fa-meh-blank {
  transition: opacity 0.5s ease;
}
/* reply내부에 어떤 element가 focus되어 있다면...*/
.reply:focus-within .form__column,
.reply:focus-within .fa-meh-blank {
  opacity: 0;
}
.reply:focus-within input {
  width: 90vw;
  transform: translateX(-12%);
}
.reply:focus-within {
  background: var(--rainbow-bottom);
}
.reply:focus-within button {
  transform: translateX(-10px);
  background-color: black;
  color: white;
}
